<!doctype html>
<html>

<head>
  <title>Instagram</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.min.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>

  <div class="container">
    <nav class="navbar">
      <ul class="nav-links">
        <li class="nav-item">
          <a href="/" class="nav-link">Feed <i class="fab fa-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a href="/profile/{{ user_info['username'] }}" class="nav-link">Profile <i class="fas fa-user"></i></a>
        </li>
      </ul>
      {% if user_info %}
      <button id="sign-out" class="btn btn-danger" hidden="false">Sign out</button>
      {% else %}
      <button id="sign-out" class="btn btn-danger" hidden="true">Sign out</button>
      {% endif %}
    </nav>



    <div class="section">
      <div class="profile-card">
        <div class="card w-100" style="border-radius: 15px;">
          <div class="card-body text-center">
            <div class="mt-3 mb-4">
              <img src=" {{ profile_user['avatar_url'] }}" alt="Avatar" class="rounded-circle img-fluid" style="width: 150px;" />
            </div>
            <h4 class="mb-2">{{ profile_user['first_name'] }} {{ profile_user['last_name'] }}</h4>
            <p class="text-muted mb-4">{{ profile_user['email'] }}</p>

            <h5 class="mb-2">Following : <a href="#" onclick="window.location.href='{{ url_for ( 'following_list' , username = profile_user['username'] ) }}'">{{followings}}</a></h5>

            <h5 class="mb-2">Followers : <a href="#" onclick="window.location.href='{{ url_for ( 'follower_list' , username = profile_user['username'] ) }}'">{{followers}}</a></h5>


            {% if user_info['email'] == profile_user['email'] %}

            {% else %}
              {% if usersFollowLists %}
                   {% if profile_user['email'] in usersFollowLists %}
                      <form action="/unfollow_user/{{ profile_user['email'] }}" method="post">
                        <button type="submit" class="btn btn-danger btn-rounded btn-md mt-3">
                          Unfollow
                        </button>
                      </form>
                   {% else %}
                      <form action="/follow_user/{{ profile_user['email'] }}" method="post">
                        <button type="submit" class="btn btn-success btn-rounded btn-md mt-3">
                          Follow
                        </button>
                      </form>
                  {% endif %}
              {% else %}
                <form action="/follow_user/{{ profile_user['email'] }}" method="post">
                  <button type="submit" class="btn btn-success btn-rounded btn-md mt-3">
                    Follow
                  </button>
                </form>
             {% endif %}
          {% endif %}

          </div>
        </div>
      </div>

      <div class="feed">
        {% for post in post_card %}

          <div class="card mb-3">
             <div class="card-body">
              <div class="d-flex mb-3">
                <a href="">
                  <img src="{{ post.user_info['avatar_url'] }}" class="border rounded-circle me-2"
                    alt="Avatar" style="height: 40px" />
                </a>
                 <div class="mt-2">
                  <a href="" class="text-dark mb-0 mt-3 ml-2">
                    <strong>{{ post.user_info['username'] }}</strong>
                  </a>
                </div>
              </div>
            </div>

            <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
              <img src="{{ post.post_info['image_url'] }}" class="w-50" />
            </div>

            <div>
             <p class="captionText"> {{ post.post_info['caption'] }} </p>
            </div>

            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <a href="">
                    <form action="/increaseLikeCount/{{ post.post_info.id }}" method="post">
                      <button type="submit" class="btn btn-link mb-1 btn-lg" data-mdb-ripple-color="dark">
                        <i class="fas fa-heart"></i>
                      </button>
                    </form>
                  </a>
                </div>
                <div>
                  <a class="text-muted align-items-center"> 8 comments </a>
                </div>
              </div>

              <div class="divTotalLikes mb-3">Likes : {{ post.post_info['like_count'] }}</div>

              <div class="d-flex mb-3">

                <div class="form-outline w-100">

                  <form action="/make_comment/{{ post.post_info.id }}" method="post">
                    <textarea class="form-control" name="comment" id="textAreaExample" maxlength="200" rows="2"></textarea>
                    <button type="submit" class="btn btn-primary btn-md mt-3 mb-2 float-right" >
                      Comment
                    </button>
                  </form>

                </div>
              </div>
            </div>

              <!--  User Comments -->
                {% for commentDic in post.post_info['comments']|reverse %}
                  {% for username, comment in commentDic.items() %}
                  <div class="d-flex mb-3">
                    <div class="w-100">
                      <div class="bg-light rounded-3 px-3 py-1 w-100">
                        <a href="" class="text-dark mb-0">

                          <a href="/profile/{{ username }}"><strong>{{username}}</strong></a>

                        </a>
                        <span class="text-muted  d-block">
                          <small>{{comment['text']}} </small>
                        </span>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% endfor %}


          </div>

        {% endfor %}
      </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
    <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='/bootstrap/js/bootstrap-min.js') }}"></script>

</body>

</html>
